In [19]:
# First we must import pandas.

import pandas as pd

In [20]:
# Next, we need to define the filepath to our file.

filepath = ('https://github.com/nikhsakhamuri/PYT303_PharmCost/blob/main/PharmaceuticalCostsbyCountry.csv')

In [21]:
# Now we can load our data.

drugData = pd.read_csv(filepath)

In [22]:
print(type(drugData))

<class 'pandas.core.frame.DataFrame'>

In [23]:
drugData.head(3)

  LOCATION  TIME  PC_HEALTHXP  PC_GDP  USD_CAP FLAG_CODES  TOTAL_SPEND
0      AUS  1971       15.992   0.727   35.720        NaN       462.11
1      AUS  1972       15.091   0.686   36.056        NaN       475.11
2      AUS  1973       15.117   0.681   39.871        NaN       533.47

In [24]:
drugData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036 entries, 0 to 1035
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LOCATION     1036 non-null   object
 1   TIME         1036 non-null   int64
 2   PC_HEALTHXP  1036 non-null   float64
 3   PC_GDP       1036 non-null   float64
 4   USD_CAP      1036 non-null   float64
 5   FLAG_CODES   63 non-null     object
 6   TOTAL_SPEND  1036 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 56.8+ KB

In [25]:
drugData.describe()

              TIME  PC_HEALTHXP       PC_GDP      USD_CAP    TOTAL_SPEND
count  1036.000000  1036.000000  1036.000000  1036.000000    1036.000000
mean   1996.809846    16.406307     1.170948   295.046989   11765.423118
std      12.498330     6.389064     0.465635   209.152134   34878.286123
min    1970.000000     5.545000     0.207000     3.160000       6.290000
25%    1987.000000    11.516250     0.768250   111.098500     728.180000
50%    1999.000000    14.967500     1.141500   266.332000    2349.570000
75%    2007.000000    20.590500     1.523250   446.109500    7778.180000
max    2016.000000    40.239000     2.797000  1162.399000  373009.910000

In [26]:
drugData['LOCATION'].unique()

array(['AUS', 'AUT', 'BEL', 'CAN', 'CZE', 'DNK', 'FIN', 'FRA', 'DEU',
       'GRC', 'HUN', 'ISL', 'IRL', 'ITA', 'JPN', 'KOR', 'LUX', 'MEX',
       'NLD', 'NZL', 'NOR', 'POL', 'PRT', 'SVK', 'ESP', 'SWE', 'CHE',
       'TUR', 'GBR', 'USA', 'EST', 'SVN', 'ISR', 'LVA', 'LTU', 'RUS'],
      dtype=object)

In [27]:
drugData['LOCATION'].nunique()

36

In [28]:
drugData['LOCATION'].value_counts().sort_index()

AUS    44
AUT    26
BEL    41
CAN    45
CHE    31
CZE    26
DEU    45
DNK    36
ESP    32
EST    17
FIN    46
FRA    30
GBR    31
GRC    27
HUN    22
IRL    41
ISL    46
ISR     8
ITA    29
JPN    32
KOR    47
LTU    12
LUX    21
LVA    12
MEX    17
NLD    43
NOR    47
NZL    24
POL    14
PRT    39
RUS     1
SVK    17
SVN    14
SWE    46
TUR    11
USA    16
Name: LOCATION, dtype: int64