# PYT303 Group Project -- Healthcare

Group Members:
Nikhitha Sakhamuri, Project Manager
Brandon Aragon
Jesse Cota
Kevin Johnson
Sofia Paniagua

## Objective

Utilizing the data provided by Organisation for Economic Cooperation and Development, we will be testing the following hypothesis:

Countries with higher levels of income per capita spend more on drugs per capita.

In [32]:
# First we must import pandas.

import pandas as pd

In [46]:
# Next, we need to define the filepath to our file.
#filepath = ('/Users/jesse/OneDrive/Desktop/Project/Data_csv.csv')
#filepath = ('C:/Users/16614/Desktop/PYT303/Group Project/PharmaceuticalCostsbyCountry.csv')

filepath = 'https://raw.githubusercontent.com/nikhsakhamuri/PYT303_PharmCost/main/PharmaceuticalCostsbyCountry.csv'
#df = pd.read_csv(filepath, index_col=0)
#print(df.head(5))

          TIME  PC_HEALTHXP  PC_GDP  USD_CAP FLAG_CODES  TOTAL_SPEND
LOCATION
AUS       1971       15.992   0.727   35.720        NaN       462.11
AUS       1972       15.091   0.686   36.056        NaN       475.11
AUS       1973       15.117   0.681   39.871        NaN       533.47
AUS       1974       14.771   0.755   47.559        NaN       652.65
AUS       1975       11.849   0.682   47.561        NaN       660.76

In [47]:
# Now we can load our data.
drugData = pd.read_csv(filepath)

In [48]:
print(type(drugData))

<class 'pandas.core.frame.DataFrame'>

## Data Exploration

We will first explore the data we have loaded. We are looking to understand size, data type, columns, and variables we can use for analysis.

In [49]:
drugData.shape

#data has 1036 rows, and 7 columns

(1036, 7)

In [50]:
drugData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036 entries, 0 to 1035
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LOCATION     1036 non-null   object
 1   TIME         1036 non-null   int64
 2   PC_HEALTHXP  1036 non-null   float64
 3   PC_GDP       1036 non-null   float64
 4   USD_CAP      1036 non-null   float64
 5   FLAG_CODES   63 non-null     object
 6   TOTAL_SPEND  1036 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 56.8+ KB

In [25]:
#We want to convert the time column to a datetime format to depict the true format of the column

#drugData['TIME']=pd.to_datetime(drugData['TIME'])

In [26]:
#the 'TIME' column should now be a Dtype=DateTime

#drugData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036 entries, 0 to 1035
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LOCATION     1036 non-null   object
 1   TIME         1036 non-null   datetime64[ns]
 2   PC_HEALTHXP  1036 non-null   float64
 3   PC_GDP       1036 non-null   float64
 4   USD_CAP      1036 non-null   float64
 5   FLAG_CODES   63 non-null     object
 6   TOTAL_SPEND  1036 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 56.8+ KB

Of the 1036 rows, most of them have values except for the 'FLAG_CODES' column. Due to the missing data, we will want to exclude usage of this column for any analysis.

### Understanding the Data in each column

In [7]:
drugData.head(3)

  LOCATION  TIME  PC_HEALTHXP  PC_GDP  USD_CAP FLAG_CODES  TOTAL_SPEND
0      AUS  1971       15.992   0.727   35.720        NaN       462.11
1      AUS  1972       15.091   0.686   36.056        NaN       475.11
2      AUS  1973       15.117   0.681   39.871        NaN       533.47

In [27]:
drugData.describe()

       PC_HEALTHXP       PC_GDP      USD_CAP    TOTAL_SPEND
count  1036.000000  1036.000000  1036.000000    1036.000000
mean     16.406307     1.170948   295.046989   11765.423118
std       6.389064     0.465635   209.152134   34878.286123
min       5.545000     0.207000     3.160000       6.290000
25%      11.516250     0.768250   111.098500     728.180000
50%      14.967500     1.141500   266.332000    2349.570000
75%      20.590500     1.523250   446.109500    7778.180000
max      40.239000     2.797000  1162.399000  373009.910000

In [8]:
drugData['LOCATION'].unique()

array(['AUS', 'AUT', 'BEL', 'CAN', 'CZE', 'DNK', 'FIN', 'FRA', 'DEU',
       'GRC', 'HUN', 'ISL', 'IRL', 'ITA', 'JPN', 'KOR', 'LUX', 'MEX',
       'NLD', 'NZL', 'NOR', 'POL', 'PRT', 'SVK', 'ESP', 'SWE', 'CHE',
       'TUR', 'GBR', 'USA', 'EST', 'SVN', 'ISR', 'LVA', 'LTU', 'RUS'],
      dtype=object)

In [9]:
drugData['LOCATION'].nunique()

36

In [10]:
drugData['LOCATION'].value_counts().sort_index()

AUS    44
AUT    26
BEL    41
CAN    45
CHE    31
CZE    26
DEU    45
DNK    36
ESP    32
EST    17
FIN    46
FRA    30
GBR    31
GRC    27
HUN    22
IRL    41
ISL    46
ISR     8
ITA    29
JPN    32
KOR    47
LTU    12
LUX    21
LVA    12
MEX    17
NLD    43
NOR    47
NZL    24
POL    14
PRT    39
RUS     1
SVK    17
SVN    14
SWE    46
TUR    11
USA    16
Name: LOCATION, dtype: int64

In [38]:
drugData['TIME'].unique()
#drugData['TIME'].nunique()
#drugData['TIME'].value_counts().sort_index()

array([1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 1970, 2016], dtype=int64)

In [39]:
drugData['TIME'].nunique()

47

In [40]:
drugData['TIME'].value_counts().sort_index()

1970    11
1971    11
1972    11
1973    11
1974    11
1975    13
1976    13
1977    13
1978    13
1979    13
1980    18
1981    17
1982    17
1983    17
1984    18
1985    20
1986    19
1987    19
1988    20
1989    20
1990    24
1991    22
1992    23
1993    23
1994    24
1995    25
1996    25
1997    25
1998    21
1999    24
2000    26
2001    26
2002    28
2003    28
2004    31
2005    32
2006    33
2007    33
2008    31
2009    32
2010    32
2011    32
2012    32
2013    33
2014    32
2015    30
2016     4
Name: TIME, dtype: int64

For our analysis, we need to derive the total Healthcare Expenditure, Total GDP, Population, and GDP Per Capita. We are able to get these values by utilizing the percentage and total values in the data.

In [41]:
#Calculate the Total Healthcare Expenditure in mill USD 
drugData['Total HC Exp in mill USD'] = drugData.apply(lambda x: x['TOTAL_SPEND'] / (x['PC_HEALTHXP']/100), axis=1)

In [42]:
#Calculate the GDP (PPP) in mill USD 

drugData['GDP (PPP) in mill USD'] = drugData.apply(lambda x: x['TOTAL_SPEND'] / (x['PC_GDP']/100), axis=1)

In [43]:
#Calculate the Population in mill

drugData['Pop in mill'] = drugData.apply(lambda x: x['TOTAL_SPEND'] / x['USD_CAP'], axis=1)

In [44]:
#Calculate the GDP (PPP) per Capita in USD 

drugData['GDP (PPP) per Capita in USD'] = drugData.apply(lambda x: x['GDP (PPP) in mill USD'] / x['Pop in mill'], axis=1)

In [52]:
#Snapshot of the new data. 

drugData.head()

  LOCATION  TIME  PC_HEALTHXP  PC_GDP  USD_CAP FLAG_CODES  TOTAL_SPEND
0      AUS  1971       15.992   0.727   35.720        NaN       462.11
1      AUS  1972       15.091   0.686   36.056        NaN       475.11
2      AUS  1973       15.117   0.681   39.871        NaN       533.47
3      AUS  1974       14.771   0.755   47.559        NaN       652.65
4      AUS  1975       11.849   0.682   47.561        NaN       660.76

## Data Analysis

## Data Visualization

## Recommendations